<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>


  <system.serviceModel>
    <services>

      

      <service name="POGApp.POGService" behaviorConfiguration="ServiceTcpBehaviour">
        <endpoint name="NetTcpCenterMex" address="netTcpCenterMex" binding="mexTcpBinding" contract="IMetadataExchange"/>
        <endpoint name="pogService" address="POGService" binding="netTcpBinding" bindingConfiguration="DuplexTcpBinding" contract="POGApp.IPOGService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9001/POGHost/"/>
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="ServiceTcpBehaviour">
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>

      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="jsonBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

    <bindings>

      <netTcpBinding>
        <binding name="DuplexTcpBinding" maxReceivedMessageSize="30000000">
          <security mode="None"/>
          <reliableSession ordered="true" inactivityTimeout="01:00:00" enabled="false"/>
        </binding>
      </netTcpBinding>

      <wsDualHttpBinding>
        <binding name="DuplexBinding" maxReceivedMessageSize="30000000">
          <security mode="None"/>
        </binding>
      </wsDualHttpBinding>

      <basicHttpBinding>
        <binding name="BasicBinding" maxReceivedMessageSize="30000000">
          <security mode="None"/>
        </binding>
      </basicHttpBinding>

      <webHttpBinding>
        <binding name="RestBinding" maxReceivedMessageSize="30000000">
          <security mode="None">
          </security>
        </binding>
      </webHttpBinding>

    </bindings>
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
      <source name="System.Runtime.Serialization" switchValue="Verbose,ActivityTracing">
        <listeners>
          <add name="ServiceModelTraceListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="App_tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelTraceListener" traceOutputOptions="Timestamp"/>
    </sharedListeners>
  </system.diagnostics>
  
</configuration>
