<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POGClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <POGClient.Properties.Settings>
            <setting name="ServiceIP" serializeAs="String">
                <value>192.168.0.182</value>
            </setting>
            <setting name="ServicePort" serializeAs="String">
                <value>9001</value>
            </setting>
        </POGClient.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding 
                  name="NetTcpBinding_IPOGService"
                  maxBufferPoolSize="67108864"
                  maxBufferSize="67108864" 
                  maxConnections="100"
                  maxReceivedMessageSize="67108864">
                    <reliableSession 
                      inactivityTimeout="20:00:10" 
                      enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9001/Host/tcp" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IPOGService" contract="ServiceReference.IPOGService"
                name="NetTcpBinding_IPOGService" />
        </client>
    </system.serviceModel>
</configuration>